body {
font-size: 14px;
font-family: "Open Sans";
}

.navbar-default .navbar-nav>li>a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-default .navbar-nav>li.nav-active>a {
  color: #399bd1;
}

.caraousel-item {
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}


.banner-text {
  text-align: center;
  padding-top: 11.85rem;
  color: white;
}

.banner-text h1 {
  font-family: "Monoton", "sans-serif";
  font-size: 9rem;
  text-shadow: -1px -1px 0 #000,
               -1px -1px 0 #000,
               -1px -1px 0 #000,
               -1px -1px 0 #000;
}

.banner-text p {
  font-size: 1.9rem;
  width: 60rem;
  margin: 0 auto;
  padding-bottom: 70px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s, opacity .5s;
  width: 100%;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

h3.col-xs-12 {
  color: #399bd1;
  font-size: 2.2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.product-categories h4 {
  color: #399bd1;
}

.featured-project-info h4, .product-categories h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.project {
  padding-bottom: 5.85rem;
}

.project-item img {
  width: 100%;
}

.project-item h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: #f3f3f3;
}

.footer-content {
  padding: 5.2rem 0;
}

.footer-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.footer-content p {
  width: 42rem;
  margin: auto;
  padding: 2.4rem .2rem;
}

 footer .footer-content button.btn-primary,
 .caraousel .caraousel-item button.btn-primary {
  background-color: #399bd1;
  border-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  transition: .5s box-shadow;
}

footer .footer-content button.btn-primary:hover,
 .caraousel .caraousel-item button.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

footer .footer-content button.btn-primary:active,
 .caraousel .caraousel-item button.btn-primary:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .banner-text h1 {
    font-size: 5rem;
  }

  .banner-text p {
    width: 100%;
  }

  .footer-content p {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {

  .banner-text h1 {
    font-size: 4rem;
  }
}
